
name: react-app CI docker

on:
  push:
    paths:
      - "frontend/**"
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build and Push Docker image
      uses: mr-smithers-excellent/docker-build-push@v5
      with:
        image: rabisu/musu-social
        tags: musu-app
        registry: docker.io
        dockerfile: frontend/musu-app/Dockerfile
        directory: frontend/musu-app/
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
